# PHPStorm
.idea/*
*.DS_Store

vendor/*
*/logs/*
*/cache/*



/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
